@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bg-light-blue {
  background-color: #e6f7ff;
}

.bg-truemeds-blue {
  background-color: #167bff;
}

.bg-light-green {
  background-color: #c8f4c8;
}

.text-truemeds-blue {
  color: #167bff;
}